@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f6fa;
  color: #0f1115;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tile-red: #d6001c;
  --tile-blue: #1e4fa3;
  --light-gray: #e6e9f0;
  --ui-scale: 1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f5f6fa;
  display: block;
  color: #0f1115;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
  border: none;
}

input, select {
  font-family: inherit;
}
